# Ignore pycache
*__pycache__/*

# Ignore egg.info files
*.egg-info/*

# Ignore all ._ files
._*

# Ignoring DS_Store
.DS_Store
._.DS_Store

# Ignoring Raw Data (for Test)
data/*
Moba500/*
tests/*

# Ignore virtual environment
.venv/*

